.home {
  display: flex;
  gap: 100px;
  justify-content: space-between;
}
.BoxqntdLivros {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px;
  background-color: whitesmoke;
  border: 1px solid black;
  vertical-align: middle;
  border-radius: 10px;
  padding: 20px;
  flex-direction: column;
}
.title-square {
  color: black;
}
.dashboard-main {
  display: flex;
  place-content: center;
  gap: 40px;
}
.wrapper-box {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.qntd {
  border: 1px solid #000;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  background-color: #ffe;
  line-height: 50px;
  box-shadow: 2px 2px 5px #999;
}

.loader {
  display: flex;
  place-content: center;
  place-items: center;
  place-self: center;
}
